#navbar{
    border:solid rgb(1, 36, 142);
    background-color:rgb(1, 36, 142);
    margin-left:-10px;
    margin-top: -10px;
    width:1532px;
    height: 150px;
    }
    #navbar>#nav1{
    height:300px;
    width:1100px;
    margin-left:220px;
    display: grid;
    margin-top: 10px;
    grid-template-rows: 20% 20% 60%;
    }
    #navbar>#nav1>div{
    border:solid rgb(1, 36, 142);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    }
    #navbar>#nav1>div>button>a{
        text-decoration: none;
        color: white;
    }
    #navbar>#nav1>div>h1{
    margin-top: 15px;
    font-size: 25px;
    }
    #navbar>#nav1>div>div{
    
    width:530px;
    display: flex;
    margin-left: 400px;
    }
    #navbar>#nav1>div>div>img{
    border-radius: 30px;
    height:25px;
    width:25px;
    margin-top: 15px;
    border: solid  rgb(1, 36, 142) ;
    margin-left:30px
    }
    #navbar>#nav1>div>div>div{
    margin-left:10px;
    }
    #navbar>#nav1>div>div>div>.btn{
    margin-left: 10px;
    color:  rgb(1, 36, 142);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    cursor: pointer;
    }
    #navbar>#nav1>div>div>div>.btn>a{
        text-decoration: none;
    }
    #navbar>#nav1>div>div>div>span>.btn{
    margin-left: 10px;;
    border:solid white;
    border-width: 2px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 9px;;
    background-color:rgb(1, 36, 142) ;
    margin-top: 10px;
    cursor: pointer;
    }
    